.container{
    
    margin-bottom: 100px;    
    margin-top: 100px;
    border: solid 4px green;
    left: 120px;
    padding:0px 0px 100px 0px;
}

#uppersection{
    border: solid 2px;
    margin: 50px;
    padding:50px;
}

.form-control{
    
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
    border: solid 2px;
    border-radius: 200px;
}

